.competences-container {
    position: relative;
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-cover {
    position: absolute;
    width: 300px;
    height: 400px;
    background: url(../photo/vecteezy_leather-book-cover-isolated-on-white-background_13844121.jpg);
    background-size: cover;
    border: 2px solid #654321;
    border-radius: 0 10px 12px 0;
    z-index: 2;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform-origin: left center;
    transition: transform 1.5s ease, opacity 1.5s ease;

    .competences-container.open & {
        transform: rotateY(-90deg); // Rotation vers la gauche
        opacity: 0;
    }
}

.book-cover h2 {
    color: white;
    font-size: 1.5rem;
    font-family: 'Georgia', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    display: flex;
    position: relative;
    width: 600px;
    height: 400px;
    background: #f4f1e0;
    border: 2px solid #c9c3b8;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform-origin: center;
    transition: opacity 1.5s ease 0.5s;
}

.page {
    flex: 1;
    padding: 20px;
}

.left-page {
    border-right: 1px solid #ccc;
}

.right-page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
    grid-gap: 10px;
}

.skill-icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.skill-icon:hover {
    transform: scale(1.1);
}

.skill-details h3 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    font-family: 'Georgia', serif;
}

.skill-details ul {
    list-style: disc;
    padding-left: 20px;
    font-family: 'Arial', sans-serif;
}

.skill-details ul li {
    margin: 5px 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.close-btn:hover {
    transform: scale(1.2);
    color: #227708;
}

@keyframes openBook {
from {
    transform: scaleX(0);
}
to {
    transform: scaleX(1);
}
}