/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #070354;
}

header {
  padding-bottom: 10px;
}

/* Sections */
section {
  padding: 60px 20px;
}

section h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 40px;
  color: ghostwhite;
}

/* Présentation */
.presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  overflow: hidden;
  z-index: 1;
}

.presentation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.presentation .image {
  flex: 0 0 30%;
  padding-top: 30%;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid #2db6e78f;
  box-shadow: 0 0 50px rgba(72, 254, 254, 0.727), 
              0 0 30px rgba(29, 97, 153, 0.732);
}

.presentation .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.presentation .text {
  flex: 1;
  margin-left: 20px;
  font-size: 1.1rem;
  line-height: 1.5;
  color: ghostwhite;
  text-align: left;
}

.download-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background-color: #070354;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #9a9a9ecd;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #9a9a9ecd;
}

.projets, .skills {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .presentation {
    padding-top: 70px;
  }

  .presentation-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .presentation .image {
    flex: none;
    width: 150px;
    height: 150px;
    padding-top: 0;
  }

  .presentation .text {
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
  }

  .presentation .download-btn {
    margin: 20px auto 0;
  }
}

.projets, .skills {
  display: flex;
  flex-direction: column;
}

section .projets {
  padding: 0;
}

@media (max-width: 426px) {
  .presentation {
    padding-top: 110px;
  }
}

